@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(344deg, rgba(0, 138, 166, 0.6) 0%, rgba(97, 12, 76, 0.6) 100%), url(img/starbe.jpg);
  background-size: cover;
  z-index: -1;
}

body {
  font-family: Poppins, sans-serif;
}

h1,
p {
  text-align: center;
  color: white;
}

form {
  max-width: 600px;
  background: rgba(0, 37, 71, 0.7);
  margin: 0 auto;
  padding: 20px 40px;
  color: white;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 25px;
}

input[type='text'],
input[type='email'],
input[type='number'],
select,
textarea {
  display: block;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  font-family: inherit;
}

textarea {
  height: 100px;
}

button {
  width: 100%;
  height: 35px;
  font-weight: bold;
  background-color: rgb(183, 119, 199);
  border: 0;
  border-radius: 5px;
}
